*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

img{
    height: 100%;
}

html{
    background-color: grey;
    font-family: sans-serif;
}

main{
    height: 100vh;
}

.container{
    height: 250px;
    width: 750px;
    background-color: whitesmoke;
    border-radius: 50px;
    overflow: hidden;
}

.row{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.col{
    height: 33%;
    padding: 0 25px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}